

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 100%;
  max-width: 100%;
  overflow-x: auto;
  border: 3px solid black;
  margin: auto;
}

.displayInput,
.displayOutput {
  width: 100%;
  background-color: black;
  color: white;
  text-align: right;
  padding: 2px;
}

.displayInput {
  font-size: 20px;
  min-height: 30px;
}

.displayOutput {
  font-size: 28px;
}

.buttonGrid {
  max-height: 100%;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(4, 80px);
  grid-template-rows: repeat(5, 65px);
  grid-template-areas:
    "clear clear divide multiply"
    "seven eight nine subtract"
    "four five six add"
    "one two three equals"
    "zero zero decimal equals";
}

button {
  font-family: inherit;
  font-size: 20px;
  background-color: #4d4d4d;
  color: white;
  outline: 1px solid black;
  border: none;
}

button:hover {
  outline: 1px solid grey;
  z-index: 4;
}

.button {
  width: 100%;
  height: 100%;
}

#clear {
  background: #f44336;
}

#equals {
  background: #2e86c0;
}

#multiply,
#divide,
#add,
#subtract {
  background: #666666;
}
